<!DOCTYPE>
<html ng-app="WhiteboardApp">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Oswald|Montserrat|Raleway' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="styles/normalize.css" rel="stylesheet" type="text/css">
    <link href="styles/skeleton.css" rel="stylesheet" type="text/css">
    <link href="styles/skeletoncustom.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" type="image/x-icon" href="images/icon2.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Whiteboard</title>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<div ng-controller="LoginCtrl" ng-init="getInviteInfo()">
      
      <div class="logo">
        <img src="images/logowide2.svg">
      </div>

      <div class="section get-help" id="register">
        <div class="container">
          <h3 class="section-heading">Join {{groupName}}</h3>
          <form ng-submit="signUp()">
            <div class="row">
              <div class="six columns">
                <label for="firstNameInput">Your first name</label>
                <input class="u-full-width" type="text" id="firstNameInput" ng-model="firstName">
              </div>
              <div class="six columns">
                <label for="lastNameInput">Your last name</label>
                <input class="u-full-width" type="text" id="lastNameInput" ng-model="lastName">
              </div>
            </div>
            <div class="row">
              <div class="six columns">
                <label for="emailInput">Your email</label>
                <input class="u-full-width" type="email" id="emailInput" ng-model="newEmail">
              </div>
              <div class="six columns">
                <label for="passwordInput">Your password</label>
                <input class="u-full-width" type="password" id="passwordInput" ng-model="newPassword">
              </div>
            </div>
            <input class="button-primary" type="submit" value="Sign Up">
            <p class="errorMessage">{{errorMessage}}</p>
            <p class="successMessage">{{successMessage}}</p>     
          </form>
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-cookies.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/logincontroller.js"></script>
  </body>
</html>