<!DOCTYPE>
<html ng-app="WhiteboardApp">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Oswald|Montserrat|Raleway' rel='stylesheet' type='text/css'>
		<link href="styles/style.css" rel="stylesheet" type="text/css">
    <!--TODO: CHANGE ICON-->
		<link rel="shortcut icon" type="image/x-icon" href="https://www.chrisburgdorff.com/cb.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>White-Board.App</title>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<div ng-controller="LoginCtrl">
      <h2>Sign In</h2>
      <p>Or <a href="register">Click Here</a> to Sign Up</p>
      <p>email:</p><input type="text" ng-model="email">
      <p>Password:</p><input type="password" ng-model="password">
      <button ng-click="signIn()">Sign In</button>
      <p class="errorMessage">{{errorMessage}}</p>
      <p class="successMessage">{{successMessage}}</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-cookies.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/logincontroller.js"></script>
	</body>
</html>