<!DOCTYPE>
<html ng-app="WhiteboardApp">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Oswald|Montserrat|Raleway' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="styles/normalize.css" rel="stylesheet" type="text/css">
    <link href="styles/skeleton.css" rel="stylesheet" type="text/css">
    <link href="styles/skeletoncustom.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" type="image/x-icon" href="images/icon2.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Whiteboard</title>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<div ng-controller="LoginCtrl">
      
      <div class="logo">
        <img src="images/logowide.svg">
      </div>
      
      <div class="login">
        <div class="container">
          <h3 class="section-heading">Sign In</h3>
          <form ng-submit="signIn()">
            <div class="row">
              <div class="six columns">
                <label for="emailInput">Your email</label>
                <input class="u-full-width" type="email" id="emailInput" ng-model="email">
              </div>
            </div>
            <div class="row">
              <div class="six columns">
                <label for="passwordInput">Your password</label>
                <input class="u-full-width" type="password" id="passwordInput" ng-model="password">
              </div>
            </div>
            <input class="button-primary" type="submit" value="Sign In">
            <p class="errorMessage">{{errorMessage}}</p>
            <p class="successMessage">{{successMessage}}</p>     
          </form>
          <a href="start#register">No Account? Sign up here.</a>
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-cookies.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/logincontroller.js"></script>
	</body>
</html>