<!DOCTYPE>
<html ng-app="WhiteboardApp">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Oswald|Montserrat|Raleway' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="styles/normalize.css" rel="stylesheet" type="text/css">
    <link href="styles/skeleton.css" rel="stylesheet" type="text/css">
    <link href="styles/skeletoncustom.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" type="image/x-icon" href="images/icon2.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Whiteboard</title>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<div ng-controller="LoginCtrl">

      <div class="logo">
        <img src="images/logowide.svg">
      </div> 
      
      <div class="login" ng-show="createGroupShow">
        <div class="container">
          <h3 class="section-heading">Optional: Create a Company or Group</h3>
          <form ng-submit="createGroup()">
            <div class="row">
              <div class="six columns">
                <label for="groupInput">Group Name</label>
                <input class="u-full-width" type="text" id="groupInput" ng-model="groupName">
              </div>
            </div>
            <input class="button-primary" type="submit" value="Create">
            <a class="button" href="/">Maybe Later</a>
            <p class="errorMessage">{{errorMessage}}</p>
            <p class="successMessage">{{successMessage}}</p>
            <p>{{email}}</p>
            <p>{{password}}</p> 
          </form>
        </div>
      </div>
      
      <div id="invite" ng-show="invitePeopleShow">
        <div class="container">
          <h3 class="section-heading">Optional: Invite People to Join Your Group</h3>
          <form ng-submit="addInvite()">
            <ul id="invites">
              <li ng-repeat="email in emailsToInvite">
                {{email}}
                <a ng-click="removeInvite($index)"><img class="trash" src="images/trashicon.svg"></a>
              </li>
            </ul>
            <div class="row">
              <div class="six columns">
                <label for="inviteEmail">Email to Invite</label>
                <input class="" type="email" id="inviteEmail" ng-model="emailToInvite">
                <input class="button-primary" type="submit" value="Add">
              </div>
            </div>
            <div class="row">
              <input class="button-primary" type="button" value="Send Invites" ng-click="sendInvites()">
            </div>
            <div class="row">
              <a class="button" href="/">Maybe Later</a>
            </div>
          </form>
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-cookies.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/logincontroller.js"></script>
	</body>
</html>